body {
    background-color: #f5f5f5;
}

.box{
    background-color: gray;
    border: 2px solid black;
    /*padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 20px;
    margin: 20px; */
    padding: 20px;
    padding-top: 5px;
}


h1 {
    color: darkblue;
    text-align: center;
}

.text-highlight {
    color: chocolate;
}

#unique-highlight {
    color: red;
}

input[type="text"] {
    border: 2px solid gray;
    border-radius: 5px;
}

input:focus{
    border-color: aqua;
    outline:none;
}

th,td{
    text-align: center;
    padding:  8px;
    border: 1px solid #000;

}