# Environments & Secrets
.env
.env.*
*.key
*.token
notion_key.txt
notion_auth.py

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python
**/__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
.claude/
.gemini/

# Project Specific
notion_automation/**/notion_key.txt
notion_automation/**/notion_auth.py
