# 복사해서 config.env로 저장한 뒤 값을 채운다. config.env는 저장소에 올리지 않는다(.gitignore).
INST_ID=ocid1.instance.oc1..<인스턴스 OCID>
COMP_ID=ocid1.tenancy.oc1..<컴파트먼트 OCID>
SSH_HOST=<ssh config 별칭>
SSH_USER=opc
SSH_IP=<서버 공인 IP>
SSH_PORT=<SSH 포트>
REGION=<리전, 예: ap-chuncheon-1>
